@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ul-li a{
  
  padding: 53px 13px 30px 13px;
  transition: all .2s ease-in;
  color: white;
  
  &:hover{
    border-bottom-right-radius: 19px;
    border-bottom-left-radius: 19px;
    background-color: #f0004c;
  }
}