@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #dcdcdc;
  box-sizing: border-box;
  font-family: 'Outfit';
  background-image: url('src/assets/imgs/background-full/5.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
 
}
#form{
  /* background-image: url('src/assets/imgs/background-full/special-menu-4.jpg'); */
  background-image: url('src/assets/imgs/form.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;

} 
#storeCards{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  

  &:hover{
    box-shadow: rgba(254, 19, 19, 0.25) 0px 54px 55px, rgba(190, 95, 95, 0.12) 0px -12px 30px, rgba(255, 0, 0, 0.12) 0px 4px 6px, rgba(248, 124, 124, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  
}
#footer{
  background-image: url('src/assets/imgs/background-full/special-menu-2.jpg');
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: -10px;
} 


.apps{
  transition: all .2s ease-in-out;
  &:hover{
    transform: scale(1.1);
  }
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
#cardss{
  transition: all .2s ease-in-out;

  &:hover{
    transform: scale(1.1);
  }
  
}

#about{
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  border-radius: 10px;
}
.ul-li a{
  
  padding: 53px 13px 30px 13px;
  transition: all .2s ease-in;
  color: white;
  
  &:hover{
    border-bottom-right-radius: 19px;
    border-bottom-left-radius: 19px;
    background-color: #f0004c;
    

  }
}

#welcome{
  z-index: 1000;
}

#nav{
  z-index: 1000;
  
  background-color: rgb(184, 30, 30)

 
}